<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>huangmin.me</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/">Huangmin</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
              <a href="notes">笔记</a>
              </li>
              <li>
              <a href="#">其他</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li>
                <a href="/articles">文章管理</a>
                </li>
                <li>
                <a href="/classifications">分类管理</a>
                </li>
                </li>
                <li><%= link_to "欢迎你：#{current_user.try :email}" %></li>
                <li> <%= link_to '退出', destroy_user_session_path, :method => :delete  %> </li>
              <% else %>
                <li>
                <%= link_to '登陆' , '/users/sign_in', :method => :get%>
                </li>
              <% end %>
            </ul>
          </ul>
        </div>

        </nav>
      </div>
    </div>
  </div>

  <div class="container" style=" margin-top: 50px; ">
    <%= yield %>
  </div>


  <script>
    $(".navbar-fixed-top").headroom();
  </script>

  <script>
    $(document).ready(function(){
      $('li').click(function(e){
        $(this).addClass('animated bounceOutDown').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
          $(this).removeClass();
        });
      });
    });
  </script>
</body>
</html>
