<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">huangmin.me</a>
        <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/blogs">博客</a></li>
              <li><a href="#">简介</a></li>
              <li><a href="#">随笔</a></li>
            </ul>
            <ul class="nav navbar-nav" style='float:right'>
              <li>
              <!--导航条 -->
              <form class="navbar-search pull-right">
                <input type="text" class="search-query" placeholder="Search">
              </form>
              </li>
              <% if user_signed_in? %>
                <li><%= link_to "欢迎你：#{current_user.try :email}" %></li>
              <li> <%= link_to '退出', destroy_user_session_path, :method => :delete  %> </li>
            <% else %>
                <li>
              <%= link_to '登陆' , '/users/sign_in', :method => :get%>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
